<link rel="stylesheet" href="css/header.css">

<div id="header">
   <ul>
        <li>
            <img id="logo" src="images/logo.jpg" >
            <h2><span style="color:#333333">Del</span><span style="color:#BeaB72; font-weight:bold;">Com</span></h2>        
        </li>
        <li><a href="/admin">Parcels</a></li>
        <li><a href="/admin/addparcel">Add parcel</a></li>
        <li><a href="/admin/register">Register new employee</a></li>
        <li><a href="/admin/employeeinfo">My information</a></li>
        <li><a href="/logout">Logout</a></li>
   </ul> 
</div>   
