<link rel="stylesheet" href="css/header.css">

<header>
   <ul>
        <li><a href="/" style="text-decoration: none;"><img id="logo" src="images/logo.jpg" >
            <h2><span style="color:#333333">Del</span><span style="color:#BeaB72; font-weight:bold;">Com</span>
            </h2></a>
        </li>
        <li><a href="/myParcels">Parcels</a></li>
        <li><a href="/register">Registration Form</a></li>
   </ul> 
</header>