<link rel="stylesheet" href="css/footer.css">
<footer>
    <table  border="0" width="100%" bgcolor=#333 height="10%" padding-up="100px";>
        <tr>
            <td align="center"><font color="white"><font size="3px">Designed by -Meharban, Ace, Ridhi, Preet</td>
        </tr>
        
        <tr>
            <td align="center"> <font color="white"><font size="3px"><a href="#top">Return to the top of the page. </a></td>
        </tr>

        <tr>
            <td  align="center"><font color="white"><font size="3px"> &copy:2021 All rights reserved .</td>
        </tr>
    </table>
</footer>