<link rel="stylesheet" href="css/header.css">

<header>
    <a href="/"><img id="logo" src="images/logo.jpg" ></a>
    <h2><span style="color:#333333">Del</span><span style="color:#BeaB72; font-weight:bold;">Com</span>
    </h2>
</header>