<link rel="stylesheet" href="css/index.css">

{{!-- Header section with logo --}}
{{> adminHeader}}

<section>
    <article style="padding:20px; font:40px;">
        <h1>Add Parcel Form</h1>
        <div style="width: 50%; height:100%; float:left">
            <label for="customer">Customer Name</label><br><br>
            <label for="source">Source Location</label><br><br>
            <label for="destination">Destination Location</label><br><br>
            <label for="employee">Employee Id</label><br><br>
        </div>
        <div style="width: 50%; height:100%; float:right">
            <input type="text" name="cutomer"><br><br>
            <input type="text" name="source"><br><br>
            <input type="text" name="source"><br><br>
            <input type="text" name="employee"><br><br>
        </div>
    </article>
</section>

{{!-- Footer --}}
{{> footer}}