<link rel="stylesheet" href="css/homepage.css">

<form action="/parcel" method="GET">
    <label for="trackingTF">Tracking Number</label>
    <input 
        type="text" 
        name="trackingNumber" 
        pattern="[A-Za-z0-9]{16} +" 
        title="Tracking number should be 16 characters long" 
        placeholder="Enter tracking number" 
        autofocus
    />
    
    <input type="submit" value="Track"/>
    <input type="reset" value="Reset"/>
</form>

{{! Display recent Tracking numbers }}
{{#if numbers}}
    <div id="recents-container">
        <h3>Recent Numbers:</h3>
        <ul>
            {{#each numbers}}
                <li>
                    <a href="/parcel?trackingNumber={{this}}">{{this}}</a>
                </li>  
            {{/each}}
        </ul>
    </div>
{{/if}}