<link rel="stylesheet" href="css/index.css">

<header>
    <img id="logo" src="images/logo.jpg">
    <h2><span style="color:#333333">Del</span><span style="color:#BeaB72; font-weight:bold;">Com</span>
    </h2>
   </header>

   <section>
		<nav>
		 <ul>
		  <li><a href="index.handlebars" class="active">Home</a></li>
		  <li><a href="login.handlebars">Login</a></li>
		  <li><a href="track.handlebars">Track your order</a></li>
        </ul>
		</nav>
  
	   <article style="padding:20px; font:40px;">
			 Content
	   </article>
   </section>

   <footer>
    <table  border="0" width="100%" bgcolor=#333 height="10%" padding-up="100px";>     
       
       <tr>
      <td align="center"><font color="white"><font size="3px">Designed by -Meharban, Ace, Ridhi, Preet</td>
       </tr>
       <tr>
      <td align="center"> <font color="white"><font size="3px"><a href="#top">Return to the top of the page. </a></td>
       </tr>
       <tr>
      <td  align="center"><font color="white"><font size="3px"> &copy:2021 All rights reserved .</td>
     </tr>
    </table>
   </footer>