<link rel="stylesheet" href="css/index.css">

{{!-- Header section with logo --}}
{{> header}}

<section>
    {{!-- Navbar with links to home page and login page --}}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/loginpage" class="active">Employee Login</a></li>
        </ul>
    </nav>
   
    <article style="padding:20px; font:40px;">
   
        <h1>Login for existing account</h1>

        <form action="/empLogin" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username here">
            <br><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password here">
            <br><br>
            <input type="submit" value="Login">
        </form>

    </article>
</section>

{{!-- Footer --}}
{{> footer}}