<h1>Login Page</h1>
<form action="/empLogin" method="GET">
    <label for="username">username</label>
    <input type="text" name="username" placeholder="Enter username here">
    <label for="password">password</label>
    <input type="password" name="password" placeholder="Enter password here">
    <input type="submit" value="Login">
</form>