<link rel="stylesheet" href="css/index.css">

{{!-- Header section with logo --}}
{{> adminHeader}}

<section>
    <article style="padding:20px; font:40px;">
        <h1>Resgistration form here!</h1>
    </article>
</section>

{{!-- Footer --}}
{{> footer}}