<link rel="stylesheet" href="css/track.css">

<header>
    <img id="logo" src="images/logo.png">
    Parcel Tracking System
    <h3 style="color:yellow;">Team #3</h3>
    <form id="login" action="login.handlebars">
       <input type="submit" value="Login">
    </form>
</header><br><br><br><br>

<main>
    <form action="/parcel" method="GET" style="font-size: 15px;">
       <label for="trackingTF">Tracking Number</label>
       <input type="text" name="trackingNumber" placeholder="Enter tracking number" />
    
       <input type="submit" value="Track"/>
       <input type="reset" value="Reset"/>
    </form><br><br><br><br>

   {{! Display recent Tracking numbers }}
   {{#if numbers}}
       <div id="recents-container">
           <h4>Recent Numbers:</h4>
           <ul>
               {{#each numbers}}
                <li>
                    <a href="/parcel?trackingNumber={{this}}">{{this}}</a>
                </li>  
               {{/each}}
           </ul>
       </div>
   {{/if}}
</main>

<footer>
</footer>