nav {
  float: left;
  width: 15%;
  height: 500px;
  background: #333333;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  text-align: center;
  background-color: #f9f9f4;
  height: 500px;
  padding-left: 10%;
}

.center {
  display: block;
  margin-left: 40%;
  margin-right: 60%;
  margin-top: 10px;
}

.demo {
  color: #333333;
}

.active {
  font-style: italic;
}

.error-message {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
